@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #8A2BE2;
  --secondary-color: #32de84;
  --secondary-color2: #1c9741;
  --grey-1: 	#C0C0C0;
  --grey-2: #A9A9A9;
  --white: 	#f5f5f5;
  --bungee:'Bungee', cursive;
  --poppins: 'Poppins', sans-serif;
  --black: black;
  --gradient-color: rgb(73,73,75);
}

.light {
  --primary-color: #32de84;
  --secondary-color: #8A2BE2;
  --secondary-color2: #692aa3;
  --grey-2: 	#C0C0C0;
  --grey-1: #A9A9A9;
  --white: 	black;
  --black: 	#f5f5f5;
  --gradient-color: rgb(202,202,200);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/*Header */
header {
  z-index: 10;
  position: fixed;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-weight: 150;
}

@media screen and (max-width: 1530px) {
  header {
    padding: 0rem 8rem;
  }
}

@media screen and (max-width: 1350px) {
  header {
    padding: 0rem 5rem;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0rem 4rem;
  }
}

@media screen and (max-width: 1050px) {
  header {
    padding: 0rem 3rem;
  }
}

header .header-icon {
  width: 5rem;
  height: 5rem;
  background-image: url(img/robot.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 3rem;
  font-family: 'Bungee', cursive;
  font-weight: 150;
  color: var(--black);
}

header .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav-header .langwrap .lang-anchor {
  padding: 0px 1.2rem;
  margin: 0 .5rem;
  font-size: 1.9rem;
  text-decoration: none;
  color: var(--black);
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header .nav-header .langwrap .lang-anchor:hover {
  color: var(--white);
}

header .nav-header .theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

header .nav-header .theme-btn:hover {
  color: var(--white);
}

header .nav-header .theme-btn:active {
  -webkit-transform: translateY(-6px) scale(1.1);
          transform: translateY(-6px) scale(1.1);
}

header .nav-header .theme-btn i {
  margin: .7rem 0;
  background-color: var(--primary-color);
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  font-size: 1.2rem;
  pointer-events: none;
  color: var(--color-grey2);
}

.lang-anchor.active {
  background-color: var(--primary-color);
}

/*main */
main {
  padding-top: 10vh;
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), color-stop(15%, var(--black)), color-stop(85%, var(--black)), to(var(--gradient-color)));
  background: linear-gradient(to right, var(--gradient-color) 0%, var(--black) 15%, var(--black) 85%, var(--gradient-color) 100%);
}

main .container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  background-color: var(--black);
  margin: 0 auto;
  min-height: 82vh;
  padding: 3rem 1rem;
}

main .container .lea-message {
  position: relative;
  font-family: var(--poppins);
  background-color: var(--primary-color);
  max-width: 70%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 0.8rem;
  margin-left: 1rem;
  border-radius: 10px;
}

main .container .lea-message .span-lea {
  position: absolute;
  top: -1.8rem;
  left: 1.6rem;
  font-size: 1.2rem;
  color: var(--grey-1);
  letter-spacing: 0.05rem;
}

main .container .lea-message p {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
}

main .container .lea-message .welcome-message {
  font-weight: bold;
  font-size: 1.6rem;
}

main .container .choix-questions {
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .container .choix-questions .choix {
  background-color: var(--grey-1);
  border-radius: 10px;
  padding: 1rem 1rem;
  margin: 1rem;
  cursor: pointer;
  font-family: var(--poppins);
  -webkit-box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .container .choix-questions .choix:hover {
  background-color: var(--white);
  -webkit-transform: translate(0.2rem, 0.2rem);
          transform: translate(0.2rem, 0.2rem);
}

main .container .choix-questions .choix:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

main .container .user-choix {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem 1rem;
  margin: 1rem;
  font-family: var(--poppins);
}

body.light .choix-questions .choix {
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

body.light .choix-questions .choix:hover {
  background-color: var(--grey-2);
}

body.light .choix-questions .user-choix {
  background-color: var(--grey-2);
}

.lea-message-cont {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 2rem 0;
  font-family: var(--poppins);
  position: relative;
}

.lea-message-cont .dots {
  position: absolute;
  left: 5rem;
  top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lea-message-cont .dots .dot {
  height: 1.6rem;
  width: 1.6rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 0.6rem;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.24, 0.64, 0.3, 0.87);
          animation-timing-function: cubic-bezier(0.24, 0.64, 0.3, 0.87);
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

.lea-message-cont .dots .dot1 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.lea-message-cont .dots .dot2 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.lea-message-cont .dots .dot3 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.lea-message-cont .lea-icon {
  width: 3rem;
  height: 3rem;
  background-image: url(img/robot.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .button-absolute {
  position: absolute;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .button-absolute .button-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .button-absolute .button-container button {
  border-radius: 15px;
  padding: 1rem 2rem;
  border: none;
  margin: 1.4rem;
  cursor: pointer;
  font-family: var(--bungee);
  font-size: 1.2rem;
  letter-spacing: 00.05rem;
  background-color: var(--secondary-color2);
  color: var(--black);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.container .button-absolute .button-container button:hover {
  background-color: var(--white);
  color: var(--black);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.container .button-absolute .button-container button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.container .chatbot-c {
  padding-bottom: 3rem;
}

/*footer */
footer {
  height: 8vh;
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

footer .leaf-icon {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  background-image: url(img/favicon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer p {
  font-size: 1.6rem;
  font-family: var(--bungee);
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

/*keyframes */
@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

/*media query */
@media screen and (max-width: 668px) {
  html {
    font-size: 60%;
  }
  header {
    padding: 0 1rem;
  }
  header h1 {
    font-size: 2.2rem;
  }
  header .nav-header .langwrap .lang-anchor {
    padding: 0rem .5rem;
    margin: 0 .4rem;
    font-size: 1.6rem;
  }
  header .nav-header .theme-btn:active {
    -webkit-transform: translateY(-4px) scale(1.05);
            transform: translateY(-4px) scale(1.05);
  }
  main .container {
    padding: 3rem 0;
  }
  main .container .lea-message {
    padding: .8rem .8rem;
    max-width: 78%;
  }
  main .container .choix-questions {
    margin-left: 20%;
    max-width: 80%;
  }
  main .container .choix-questions .choix {
    margin: .7rem;
    padding: .7rem .7rem;
  }
  footer p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  main .container .choix-questions {
    margin-left: 15%;
    max-width: 85%;
  }
  .container .chatbot-c {
    padding-bottom: 6.3rem;
  }
  .container .button-absolute .button-container button {
    padding: 0.6rem 1.0rem;
  }
  footer p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 310px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  header {
    padding: 0 .5rem;
  }
  header h1 {
    font-size: 1.8rem;
  }
  header .nav-header .langwrap .lang-anchor {
    padding: 0rem .4rem;
    margin: 0 .3rem;
    font-size: 1.5rem;
  }
  header .nav-header .theme-btn:active {
    -webkit-transform: translateY(-4px) scale(1.05);
            transform: translateY(-4px) scale(1.05);
  }
  main .container .choix-questions {
    margin-left: 5%;
    max-width: 95%;
  }
  .container .button-absolute .button-container button {
    padding: 0.4rem .9rem;
  }
  footer p {
    font-size: 1.0rem;
  }
}
/*# sourceMappingURL=style.css.map */